In [127]:
import numpy as np
import pandas as pd

movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

print(movies.info())

credits.info()

movies = movies.merge(credits, on = "title")

movies.head(1)

# genres
# id 
# keywords
# overview
# title
# cast
# crew
movies = movies[['id', 'title','genres', 'keywords', 'overview', 'cast', 'crew']]

# movies.head()

movies.isnull().sum()

movies.dropna(inplace = True)

# movies['title'][1]
movies.iloc[0].genres

# [{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

# in form of ["Action", "Action", "Adventure", "Fantasy", "Science Friction"]

import ast
def ConvertInto3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter += 1
        else:
            break
    return L

def Convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

def fetchDirector(obj):
    L = []
    for i in ast.literal_eval(obj):
        if(i['job'] == "Director"):
            L.append(i['name'])
            break
    return L


movies['genres'] = movies['genres'].apply(Convert)
movies['keywords'] = movies['keywords'].apply(Convert)

movies['cast'] = movies['cast'].apply(ConvertInto3)
movies['crew'] = movies['crew'].apply(fetchDirector)

movies.overview = movies['overview'].apply(lambda x:x.split())

movies.genres = movies.genres.apply(lambda x: [i.replace(" ", "") for i in x])

movies.keywords = movies.keywords.apply(lambda x: [i.replace(" ", "") for i in x])

movies.crew = movies.crew.apply(lambda x: [i.replace(" ", "") for i in x])

movies.cast = movies.cast.apply(lambda x: [i.replace(" ", "") for i in x])

movies['tags'] = movies.overview + movies.keywords + movies.genres +  movies.cast + movies.crew

movies.head()

finalMovies = movies[['id', 'title', 'tags']]

finalMovies.head()

finalMovies.loc[:, 'tags'] = finalMovies['tags'].apply(lambda x: " ".join(x).lower())

finalMovies.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

,id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [128]:
finalMovies.tags[0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d action adventure fantasy sciencefiction samworthington zoesaldana sigourneyweaver jamescameron'

In [140]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [142]:
vector = cv.fit_transform(finalMovies['tags']).toarray()

In [143]:
vector.shape

(4806, 5000)

In [144]:
from sklearn.metrics.pairwise import cosine_similarity

In [145]:
similarity = cosine_similarity(vector)

In [148]:
similarity.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'